@charset "UTF-8";
#main{
	margin: 0 auto;
	width: 1200px;
	display: flex;
}
/*이미지 컴포넌트 시작*/

.main_section{
	border: solid 1px black;
	margin: 0 auto;
	width: 580px;
	
}
.img_coponent{
	box-shadow: 0 2px 6px rgb(0 0 0 / 12%);
	margin: 0 auto;
	width: 580px;
	height: 590px;
}
img{
	width: 500px;
    height: 500px;
    background: #e2f2f2;
    text-align: center;
    margin: 10px auto;
    display: flex;
    border-radius: 10px;
    
}
.sellNote{
	width: 500px;
	height: 50px;
	box-shadow: 0 2px 6px rgb(0 0 0 /  12%);
	margin: 10px auto;
	border-radius: 5px;
}
#warnComponent{
    line-height: 12px;
    padding: 3px 5px 2px;
    margin-right: 4px;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: -.06px;
    font-weight: 600;
    color: #fff;
    background-color: #ff8824;
    width: 30px;
    text-align: center;
}

#warnContent{
	display: block;
    line-height: 14px;
    margin-top: 4px;
    font-size: 12px;
    letter-spacing: -.06px;
    color: rgba(34,34,34,.5);
}
.warntext{
	margin-left: 10px;
}
/*이미지 컴포넌트 끝*/
/*설명 컴포넌트 시작*/
.content_coponent{
	margin: 0 auto;
    width: 600px;
	height: 1400px;
}
/*설명 컴포넌트 끝*/


/*차트 밑에 테이블 시작*/
.successlist{
    width: 600px;
    margin: 0;
}

/*차트 밑에 테이블 끝*/
/* 구매하기 판매하기 버튼 시작*/
#btn_sell{
	margin-top: 10px;
	width: 296.5px;
	height: 80px;	
	font-weight: bold;
	font-size: 30px;
	background-color: #ef6253;
}

#btn_buy{
	margin-top: 10px;	
	width: 296.5px;
	height: 80px;	
	font-weight: bold;
	font-size: 30px;
	background-color: #41b979;
}
/* 구매하기 판매하기 버튼 끝*/
/* 상품정보 시작 */
.product_imfo_main{
	width: 600px;
    height: 130px;
    margin-top: 30px;
}
.product_imfo{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-top : 10px;
	margin-bottom: 10px;
}

.product_table{
    width: 575px;
    height: 80px;
    margin-left: 1px;
}
/* 상품정보 끝 */
/* 배송정보 시작*/
.product_imfo_sub{
	width: 600px;
    height: 200px;
    margin-top: 30px;
}

.product_deliver{
	text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.product_whiteSpace{
	margin-top: 10px;
	display: flex;
}

.product_whiteSpace_info{
	margin-top: 20px;
    padding-top: 20px;
    line-height: 16px;
    border-top: 1px solid #f0f0f0;
    font-size: 12px;
    letter-spacing: -.06px;
    letter-spacing: -.05px;
    color: rgba(34,34,34,.5);	
}
.deliver_img{
	width: 60px;
    height: 80px;
    display: inline;
    margin: 0px;
    vertical-align: top;
    border-radius: 10px;
    position: relative;
    top: 5px;
}
.deliver_info{
	display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
}
.product_deliver_nomal{
	font-weight: bold;
}
/* 배송정보 끝*/



/*제품 이미지 슬라이드 시작*/
.product_img_slade{
    margin: 0 auto;
    border: 1px solid black;
    width: 1190px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.product_img_content{
	font-weight:700;
	font-size: 24px;
	font-family: 'SEBANG_Gothic_Bold';			
	text-align: center;
}

/*제품 이미지 슬라이드 끝*/
/*제품 이미지 크기 시작*/
.product_img_slade .section img{
	width: 300px; height: 255px;	
}
/*제품 이미지 크기 끝*/
/* 셀럽 이미지 시작*/
.selloveimg{
    display: flex;
    width: 1180px;
    height: 574px;
    flex-wrap: wrap;
}
.seloveComponent{
    width: 21%;
    height: 300px;
    margin: 20px;
}
.userid{
	font-size: 20px;
}
.usercontent{
	font-size: 20px;	
}
.seloveimg{
	width: 270px;
    height: 200px;
}
/* 셀럽 이미지 끝*/
/*하단 시작*/
footer{
    width: 1190px;
    border: 1px solid black;
    clear: both;
    height: 200px;
    margin: 0 auto;
}
/* GitLink*/
.gitLink{
	font-family: 'SEBANG_Gothic_Bold';
	font-size:30px;
	color: white;
}
.gitLink:hover, .gitLink:link , .gitLink:active , .gitLink:visited{
	text-decoration: none;
}
/* footerURL  */
#footerURL{
	text-align:center;
	padding-top: 60px;
}
/*하단 끝*/





/*모달 수정 시작*/
.modal-content {
	position: relative;
    right: 100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 700px;
    height: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}
.mainproduct{
	margin: 0 auto;
}
.priceimg1{
	margin: 0 auto;
}

#sell_product_table{
	margin: 0 auto;
}
#buy_product_table{
	margin: 0 auto;	
}
.modal_info_main{
	width: auto;
}

.subproduct{
	width: 680px;
    height: 400px;
}
.product_size{
	margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
    display: inline-block;
    width: 130px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

/*모달안의 판매하기 버튼 시작 */
.modal_sell{
	width: 296.5px;
    height: 80px;
    font-weight: bold;
    font-size: 30px;
    background-color: #41b979;
    border-color: #0d6efd;
    color: white;
    border-radius: 0.5rem;
    margin-left: 190px;
}

.modal_sell:hover{
	color: white;
	border: #0a58ca;
	cursor: pointer;
}

[type=button]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.sellmainprice{
	margin : 20px;
	font-size: 30px;
}

.selprice{
	font-size: 20px;
    width: 200px;
    height: 50px;
}
.modal-footer button {
	width : 200px;
	height: 60px;
	font-size: 20px;
}

.pricelist{
	margin: 20px auto;
	width: 600px;	
}





/*모달안의 판매하기 버튼 끝 */
/*모달안의 구매하기 버튼 시작 */
.modal_buy{
	width: 296.5px;
    height: 80px;
    font-weight: bold;
    font-size: 30px;
    background-color: #ef6253;
    border-color: #0d6efd;
    color: white;
    border-radius: 0.5rem;
    margin-left: 190px;	
	
	
}
.buymainprice{
	margin : 20px;
	font-size: 30px;
}

.selprice1{
	font-size: 20px;
    width: 200px;
    height: 50px;
}

.pricelist1{
	margin: 20px auto;
	width: 600px;
}

/*모달안의 구매하기 버튼 끝 */
/*모달 수정 끝*/
/*하단 끝*/

