@charset "UTF-8";
*{
	margin: 0 auto;	
	text-align: center;
	box-sizing:  border-box;
}

#mainsize{
	margin: 0 auto;
	height: 1200px;
	width: 800px;
}

#lsignup{
	margin: 0 auto;	
	
}
.trsize{
	width: 400px;
	height: 20px;
	border: solid 1px black;
}
.signsize{
	padding-bottom: 20px;
	margin : 20px;
	border-bottom: solid 2px black;
}
.insertsize{
	padding: 2%;
}

.inputsize {
	margin : 5px;
	padding-left: 15px; 
	height: 40px;
	width: 350px;
	border : 0;
	text-align: left;
}
.playrull{
	width: 400px;
	height: 200px;

	
}
.playrull h3{
	margin-top: 15px; 
}
.chek{	
	display: flex;
	margin: 20px;
}
.ckbox1 , .ckbox2 {
	width: 30px;
	height: 30px;
}
.playrull textarea{
		width: 280px;
	height: 60px;
	
}

.cocl3{
	height: 30px;
    width: 30px;
    position: relative;
    top: 10px;
}
.insertbox{
	width: 400px;
	height : 50px;
	display: flex;
	border-bottom: solid 1px #ebebeb;
	margin-top: 10px;
}
.btnsize{
	color: white;
	width: 400px;
	height: 50px;
	border : none;
	display: block;
	border-radius: 10px;
	margin-top: 10px;

}